<div class="collapse" id="homeNavigation">
  <div class="bg-dark p-3">
    <nav class="nav flex-column">
      <a class="nav-link text-light" routerLink="books">
        <fa-icon [icon]="faBook" class="me-2"></fa-icon>
        Books
      </a>
      <a class="nav-link text-light" routerLink="quotes">
        <fa-icon [icon]="faQuoteLeft" class="me-2"></fa-icon>
        Quotes
      </a>
      <button
        class="nav-link text-light text-start navbar-button"
        type="button"
        (click)="onLogout()"
      >
        <fa-icon [icon]="faArrowRight" class="me-2"></fa-icon>
        Logout
      </button>
    </nav>
  </div>
</div>
<nav class="navbar navbar-dark bg-dark">
  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#homeNavigation"
    aria-controls="homeNavigation"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <fa-icon [icon]="faBars"> </fa-icon>
  </button>
</nav>
