<div class="container">
  <div class="card shadow mx-auto" style="max-width: 800px">
    <button
      type="button"
      class="nav-link navbar-button add-button position-absolute top-0 end-0 mt-3 me-2"
      routerLink="../create-quote"
    >
      <fa-icon [icon]="faPlus"></fa-icon>
    </button>
    <div class="card-header text-center text-dark">
      <h3>Quotes</h3>
    </div>
    <div class="card-body p-5">
      <div class="list-group">
        @for (quote of quotes(); track quote.quoteId) {
        <div class="list-group-item py-4 d-flex align-items-start">
          <div class="fw-semibold text-center fs-5 flex-grow-1">
            <q class="quote-text">{{quote.content}}</q>
          </div>
          <div class="d-flex gap-2 ms-2">
            <button
              type="button"
              class="nav-link edit-button navbar-button"
              [routerLink]="['../edit-quote', quote.quoteId]"
            >
              <fa-icon [icon]="faPen"></fa-icon>
            </button>
            <button type="button" class="btn delete-button">
              <fa-icon
                [icon]="faX"
                class="text-danger"
                (click)="removeQuote(quote.quoteId)"
              ></fa-icon>
            </button>
          </div>
        </div>
        }
      </div>
    </div>
  </div>
</div>
