<div class="container py-5">
  <div class="card shadow mx-auto" style="max-width: 800px">
    <button
      type="button"
      class="nav-link navbar-button add-button position-absolute top-0 end-0 mt-3 me-2"
      routerLink="../create-book"
    >
      <fa-icon [icon]="faPlus"></fa-icon>
    </button>
    <div class="card-header text-center text-dark">
      <h3>Your Books</h3>
    </div>
    <div class="card-body p-5">
      <div class="list-group">
        @for (book of books(); track book.bookId) {
        <div class="list-group-item py-4 d-flex align-items-start">
          <div class="fw-semibold text-center fs-5 flex-grow-1 book-text">
            {{ book.title }} by {{book.author}} @if (book.yearPublished) {
            <span> | {{book.yearPublished}}</span>
            }
          </div>
          <div class="d-flex gap-2 ms-2 me-2">
            <button
              type="button"
              class="nav-link edit-button navbar-button"
              [routerLink]="['../edit-book', book.bookId]"
            >
              <fa-icon [icon]="faPen"></fa-icon>
            </button>
            <button type="button" class="btn delete-button">
              <fa-icon
                [icon]="faX"
                class="text-danger"
                (click)="removeBook(book.bookId)"
              ></fa-icon>
            </button>
          </div>
        </div>
        }
      </div>
      @if(bookRetrievalError()){
      <p class="text-danger fw-semibold">{{bookRetrievalError()}}</p>
    }
    @if(bookRemovalError()){
        <p class="text-danger fw-semibold">{{bookRemovalError()}}</p>
      }
    </div>
  </div>
</div>
